# 3. Index
데이터에 접근할 수 있는 주소값

In [17]:
import pandas as pd
data ={
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '포지션' : ['PF', 'C', 'PG', 'SG', 'SF', 'PF', 'C', 'PG'],
    '득점' : [70, 45, 37, 101, 49, 72, 68, 12],
    '리바운드' : [11, 10, 5, 9, 0, 19, 26, 5],
    '어시스트' : [10, 7, 7, 6, 17, 8, 14, 10],
    '스틸' : [2, 9, 4, 3, 12, 1, 2, 2],
    '블록' : [1, 13, 4, 1, 4, 19, 15, 3],
}
df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df

     이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
1번  채치수  북산고  197  PF   70    11    10   2   1
2번  정대만  북산고  184   C   45    10     7   9  13
3번  송태섭  북산고  168  PG   37     5     7   4   4
4번  서태웅  북산고  187  SG  101     9     6   3   1
5번  강백호  북산고  188  SF   49     0    17  12   4
6번  변덕규  능남고  202  PF   72    19     8   1  19
7번  황태산  능남고  188   C   68    26    14   2  15
8번  윤대협  능남고  190  PG   12     5    10   2   3

In [18]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object')

## Indext 이름 설정

In [19]:
df.index.name = "지원번호"
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

## Index 초기화

In [20]:
df.reset_index()

  지원번호   이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
0   1번  채치수  북산고  197  PF   70    11    10   2   1
1   2번  정대만  북산고  184   C   45    10     7   9  13
2   3번  송태섭  북산고  168  PG   37     5     7   4   4
3   4번  서태웅  북산고  187  SG  101     9     6   3   1
4   5번  강백호  북산고  188  SF   49     0    17  12   4
5   6번  변덕규  능남고  202  PF   72    19     8   1  19
6   7번  황태산  능남고  188   C   68    26    14   2  15
7   8번  윤대협  능남고  190  PG   12     5    10   2   3

In [21]:
df.reset_index(drop = True) # 원래 쓰던 '지원번호' 인덱스 삭제

    이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
0  채치수  북산고  197  PF   70    11    10   2   1
1  정대만  북산고  184   C   45    10     7   9  13
2  송태섭  북산고  168  PG   37     5     7   4   4
3  서태웅  북산고  187  SG  101     9     6   3   1
4  강백호  북산고  188  SF   49     0    17  12   4
5  변덕규  능남고  202  PF   72    19     8   1  19
6  황태산  능남고  188   C   68    26    14   2  15
7  윤대협  능남고  190  PG   12     5    10   2   3

In [22]:
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1
2번    정대만  북산고  184   C   45    10     7   9  13
3번    송태섭  북산고  168  PG   37     5     7   4   4
4번    서태웅  북산고  187  SG  101     9     6   3   1
5번    강백호  북산고  188  SF   49     0    17  12   4
6번    변덕규  능남고  202  PF   72    19     8   1  19
7번    황태산  능남고  188   C   68    26    14   2  15
8번    윤대협  능남고  190  PG   12     5    10   2   3

In [23]:
df.reset_index(drop = True, inplace=True) #실제 데이터에 바로 반영

In [24]:
df

    이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
0  채치수  북산고  197  PF   70    11    10   2   1
1  정대만  북산고  184   C   45    10     7   9  13
2  송태섭  북산고  168  PG   37     5     7   4   4
3  서태웅  북산고  187  SG  101     9     6   3   1
4  강백호  북산고  188  SF   49     0    17  12   4
5  변덕규  능남고  202  PF   72    19     8   1  19
6  황태산  능남고  188   C   68    26    14   2  15
7  윤대협  능남고  190  PG   12     5    10   2   3

## Index tjfwjd
지정한 column으로 Index를 설정

In [25]:
df.set_index('이름')

      학교    키 포지션   득점  리바운드  어시스트  스틸  블록
이름
채치수  북산고  197  PF   70    11    10   2   1
정대만  북산고  184   C   45    10     7   9  13
송태섭  북산고  168  PG   37     5     7   4   4
서태웅  북산고  187  SG  101     9     6   3   1
강백호  북산고  188  SF   49     0    17  12   4
변덕규  능남고  202  PF   72    19     8   1  19
황태산  능남고  188   C   68    26    14   2  15
윤대협  능남고  190  PG   12     5    10   2   3

In [26]:
df

    이름   학교    키 포지션   득점  리바운드  어시스트  스틸  블록
0  채치수  북산고  197  PF   70    11    10   2   1
1  정대만  북산고  184   C   45    10     7   9  13
2  송태섭  북산고  168  PG   37     5     7   4   4
3  서태웅  북산고  187  SG  101     9     6   3   1
4  강백호  북산고  188  SF   49     0    17  12   4
5  변덕규  능남고  202  PF   72    19     8   1  19
6  황태산  능남고  188   C   68    26    14   2  15
7  윤대협  능남고  190  PG   12     5    10   2   3

In [27]:
df.set_index('이름', inplace=True)
df

      학교    키 포지션   득점  리바운드  어시스트  스틸  블록
이름
채치수  북산고  197  PF   70    11    10   2   1
정대만  북산고  184   C   45    10     7   9  13
송태섭  북산고  168  PG   37     5     7   4   4
서태웅  북산고  187  SG  101     9     6   3   1
강백호  북산고  188  SF   49     0    17  12   4
변덕규  능남고  202  PF   72    19     8   1  19
황태산  능남고  188   C   68    26    14   2  15
윤대협  능남고  190  PG   12     5    10   2   3

## Index정렬
Index를 기준으로 오름차순, 내림차순 정렬

In [28]:
df.sort_index() #인덱스로 오름차순 정렬

      학교    키 포지션   득점  리바운드  어시스트  스틸  블록
이름
강백호  북산고  188  SF   49     0    17  12   4
변덕규  능남고  202  PF   72    19     8   1  19
서태웅  북산고  187  SG  101     9     6   3   1
송태섭  북산고  168  PG   37     5     7   4   4
윤대협  능남고  190  PG   12     5    10   2   3
정대만  북산고  184   C   45    10     7   9  13
채치수  북산고  197  PF   70    11    10   2   1
황태산  능남고  188   C   68    26    14   2  15

In [29]:
df.sort_index(ascending=False) #내림차순 정렬

      학교    키 포지션   득점  리바운드  어시스트  스틸  블록
이름
황태산  능남고  188   C   68    26    14   2  15
채치수  북산고  197  PF   70    11    10   2   1
정대만  북산고  184   C   45    10     7   9  13
윤대협  능남고  190  PG   12     5    10   2   3
송태섭  북산고  168  PG   37     5     7   4   4
서태웅  북산고  187  SG  101     9     6   3   1
변덕규  능남고  202  PF   72    19     8   1  19
강백호  북산고  188  SF   49     0    17  12   4