# 11. 데이터 정렬

In [1]:
import pandas as pd
df=pd.read_excel('score_with_missing_values.xlsx', index_col='지원번호')
df

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
5번    강백호  북산고  188  SF   49     0    17  12   NaN
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
7번    황태산  능남고  188   C   68    26    14   2  15.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0

In [2]:
df.sort_values('키') # 키 기준으로 오름차순 정렬

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
5번    강백호  북산고  188  SF   49     0    17  12   NaN
7번    황태산  능남고  188   C   68    26    14   2  15.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0
6번    변덕규  능남고  202  PF   72    19     8   1  19.0

In [3]:
df.sort_values('키', ascending=False) # 키 기준으로 내림차순 정렬

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
5번    강백호  북산고  188  SF   49     0    17  12   NaN
7번    황태산  능남고  188   C   68    26    14   2  15.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
2번    정대만  북산고  184   C   45    10     7   9  13.0
3번    송태섭  북산고  168  PG   37     5     7   4   4.0

In [6]:
df.sort_values(['리바운드', '득점']) #리바운드, 득점 점수 기준으로 오름차순

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
5번    강백호  북산고  188  SF   49     0    17  12   NaN
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
2번    정대만  북산고  184   C   45    10     7   9  13.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
7번    황태산  능남고  188   C   68    26    14   2  15.0

In [7]:
df.sort_values(['리바운드', '득점'], ascending=False) #리바운드, 득점 점수 기준으로 내림차순

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
7번    황태산  능남고  188   C   68    26    14   2  15.0
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
5번    강백호  북산고  188  SF   49     0    17  12   NaN

In [9]:
df.sort_values(['리바운드','득점'], ascending=[True, False]) #리바운드는 오름차순으로, 득점은 내림차순으로 정렬

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
5번    강백호  북산고  188  SF   49     0    17  12   NaN
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
2번    정대만  북산고  184   C   45    10     7   9  13.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
7번    황태산  능남고  188   C   68    26    14   2  15.0

In [10]:
df['키'].sort_values()

지원번호
3번    168
2번    184
4번    187
5번    188
7번    188
8번    190
1번    197
6번    202
Name: 키, dtype: int64

In [11]:
df['키'].sort_values(ascending=False)

지원번호
6번    202
1번    197
8번    190
5번    188
7번    188
4번    187
2번    184
3번    168
Name: 키, dtype: int64

In [12]:
df.sort_index()

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
1번    채치수  북산고  197  PF   70    11    10   2   1.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
5번    강백호  북산고  188  SF   49     0    17  12   NaN
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
7번    황태산  능남고  188   C   68    26    14   2  15.0
8번    윤대협  능남고  190  PG   12     5    10   2   3.0

In [13]:
df.sort_index(ascending=False)

       이름   학교    키 포지션   득점  리바운드  어시스트  스틸    블록
지원번호
8번    윤대협  능남고  190  PG   12     5    10   2   3.0
7번    황태산  능남고  188   C   68    26    14   2  15.0
6번    변덕규  능남고  202  PF   72    19     8   1  19.0
5번    강백호  북산고  188  SF   49     0    17  12   NaN
4번    서태웅  북산고  187  SG  101     9     6   3   NaN
3번    송태섭  북산고  168  PG   37     5     7   4   4.0
2번    정대만  북산고  184   C   45    10     7   9  13.0
1번    채치수  북산고  197  PF   70    11    10   2   1.0